
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+AU+SA:wght@100..400&display=swap&family=Dancing+Script:wght@400..700&display=swap');
.container{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#e2ddd9;
}

.texto-central h2{
  margin: 0;
  padding: 0;
  font-size: 4vw;
  color: red;
  font-family: "Playwrite AU SA", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.botao2meses section{
  position: absolute;
  left: 100px;
  top: 97vh;
  color: transparent;
  transition:0.5s;
}
.botao2mesesBTS section{
  position: absolute;
  left: 90vw;
  top: 80vh;
  color: transparent;
  transition:0.5s;
}
.botao2meses section:hover, .botao2mesesBTS section:hover{
  color: black;
}
.imgCoracao1{
  position: absolute;
  left: 15%;
  top: 20%;
  display: flex;
  transform: rotate(-45deg);
}
.imgCoracao2{
  position: absolute;
  left: 45%;
  top: 10%;
}
.imgCoracao3{
  position: absolute;
  left: 75%;
  top: 20%;
  transform: rotate(45deg);
}
.imgCoracao4{
  position: absolute;
  left: 15%;
  top: 65%;
  transform: rotate(-135deg);
}
.imgCoracao5{
  position: absolute;
  left: 45%;
  top: 75%;
  transform: rotate(-180deg);
}
.imgCoracao6{
  position: absolute;
  left: 75%;
  top: 65%;
  transform: rotate(135deg);
}
.imgCoracao1 img, .imgCoracao2 img, .imgCoracao3 img, .imgCoracao4 img, .imgCoracao5 img, .imgCoracao6 img{
  width: 10vw;
  transition: 0.2s;
  cursor: pointer;
}
.imgCoracao1 img:hover, .imgCoracao2 img:hover, .imgCoracao3 img:hover, .imgCoracao4 img:hover, .imgCoracao5 img:hover, .imgCoracao6 img:hover{
  transform: scale(1.03);
}

.overlay-background, .textOverlay-background, .BTSoverlay-background{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.textImg{
  width: 35%;
  height: 95vh;
  background-color:rgb(255,255,255);
  border-radius: 20px;
  box-shadow: 3px 3px 2px rgb(128, 2, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.textImg p{
  text-align: justify;
  padding: 2.5vw;
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5vw;

 

}
.textImg img{
  width: 8vw;
}

.imagesHand {
  background: transparent;
  padding: 0px;
  border-radius: 8px;
  z-index: 20; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  position: absolute;
}

.imagesHand.overlay {
  display: flex; 
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro semitransparente */
}
.texto-central iframe {
  width: 100%;
  height: 16vh;
}

@media screen and (max-width: 480px) {
  .texto-central iframe {
    width: 62vw;
    height: 16vh;
  }

  .texto-central h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 7vw;
    color: red;
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .botao2meses section{
    position: absolute;
    left: 100px;
    top: 97vh;
    color: transparent;
    transition:0.5s;
    font-size: 4vw;
  }
  .botao2mesesBTS section{
    position: absolute;
    left: 90vw;
    top: 80vh;
    color: transparent;
    transition:0.5s;
    font-size: 4vw;
  }
  .botao2meses section:hover, .botao2mesesBTS section:hover{
    color: black;
  }
  .imgCoracao1{
    
    position: absolute;
    left: 05%;
    top: 25%;
    display: flex;
    transform: rotate(-45deg);
  }
  .imgCoracao2{
    position: absolute;
    left: 35%;
    top: 15%;
  }
  .imgCoracao3{
    position: absolute;
    left: 65%;
    top: 25%;
    transform: rotate(45deg);
  }
  .imgCoracao4{
    position: absolute;
    left: 05%;
    top: 60%;
    transform: rotate(-135deg);
  }
  .imgCoracao5{
    position: absolute;
    left: 35%;
    top: 70%;
    transform: rotate(-180deg);
  }
  .imgCoracao6{
    position: absolute;
    left: 65%;
    top: 60%;
    transform: rotate(135deg);
  }
  .imgCoracao1 img, .imgCoracao2 img, .imgCoracao3 img, .imgCoracao4 img, .imgCoracao5 img, .imgCoracao6 img{
    width: 30vw;
    transition: 0.2s;
    cursor: pointer;
  }
  .imgCoracao1 img:hover, .imgCoracao2 img:hover, .imgCoracao3 img:hover, .imgCoracao4 img:hover, .imgCoracao5 img:hover, .imgCoracao6 img:hover{
    transform: scale(1.03);
  }
  .textImg{
    width: 75%;
    height: 60vh;
    background-color:rgb(255,255,255);
    border-radius: 20px;
    box-shadow: 3px 3px 2px rgb(128, 2, 2);
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .textImg p{
    text-align: justify;
    padding: 2.5vw;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 3.6vw;
  
  }
  .imagesHand {
    background: transparent;
    padding: 0px;
    border-radius: 8px;
    z-index: 20; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
  }
  
  .imagesHand.overlay {
    display: flex; 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro semitransparente */
  }
}