.carrossel{
    width: 70%;
     margin: 'auto'; 
     height:90vh;
}
.carrossel img{
    height: 50%;
    width: 10%;
}
.imgs{
 padding: 0;
 margin: none;
    
}
.swiper-slide{
    width: 100%;
}
.swiper-wrapper{
    width: 100%;
}

.swiperConf{
    height: 90vh;
    width: 100%;
}
@media screen and (max-width: 480px) {
    .swiperConf{
        height: 60vh;
        width: 100%;
    }
    .carrossel{
        width: 90%;
         margin: 'auto'; 
         height:60vh;
    }
}